@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');

*{
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Sahitya', serif;
}

:root {
    --primary: #F5EEE9;
    --secundary: #5e7080;
}